@media screen and (max-width: 780px) {
  .footer {
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
  }
  .footer__copy {
    text-align: center;
    margin: 10px 0;
    font-size: 13px;
    font-weight: bold;
  }
  .icons {
    padding-bottom: 30px;
    margin-top: 10px;
  }
}
